[alias]
        s = status -s
        l = log --graph --pretty='%C(yellow)%h%d %Creset%an %Cgreen%ar:%Creset %s'
        lstat = log --graph --decorate --stat
        d = diff --find-renames --find-copies --format=fuller --color-words
        staged = diff --find-renames --find-copies --format=fuller --color-words --cached
        undo = reset HEAD~1
        branches = branch -a
        
        # List local branches and sort by modification date.
        b = !git for-each-ref --sort='-authordate' \
              --format='%(authordate:short)%09%(objectname:short)%09%(refname)' refs/heads |\
              sed -e 's-refs/heads/--'
        
        # Show unmerged commits.
        # NOTE: Two dots after the branch name are required. Eg:
        #         git diffbranch develop..
        diffbranch = log --no-merges \
                         --pretty='%C(yellow)%h%d %Creset%an %Cgreen%ar:%Creset %s' --graph
